<footer>
  <nav>
    <ul>
      <li class="iconify-wrapper">
        <iconify-icon icon="mdi:github"></iconify-icon>
        <a
          href="https://github.com/thuyencode/create-express-ejs-ts"
          target="_blank"
          class="secondary"
        >
          Thuyen Code
        </a>
      </li>
    </ul>
  </nav>
</footer>
