<header>
  <nav>
    <ul>
      <li>Mini Message Board</li>
    </ul>
    <ul>
      <li>
        <a href="<%= navigation.href %>">
          <button class="iconify-wrapper">
            <%= navigation.name %>
            <iconify-icon icon="<%= navigation.icon_name %>"></iconify-icon>
          </button>
        </a>
      </li>
    </ul>
  </nav>
</header>
