<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs') %>

    <title>404 | Mini Message Board | The Odin Project</title>
  </head>

  <body class="container">
    <%- include('components/header.ejs') %>

    <main>
      <hgroup>
        <h1>This is where you spawn when you're <del>lost</del> got a 404</h1>
        <p>
          on this super duper simple
          <span style="display: inline-block">
            NodeJS
            <iconify-icon icon="vscode-icons:file-type-node"></iconify-icon>
            / Express.js
            <iconify-icon icon="skill-icons:expressjs-dark"></iconify-icon>
            server
          </span>
        </p>
      </hgroup>

      <hgroup>
        <h3>Hey there, traveler!</h3>
        <p>Looks like you wandered into an <kbd>undefined</kbd> route.</p>
        <p>
          Go to one of the portals on the top to safely continue your journey.
        </p>
      </hgroup>
    </main>

    <%- include('components/footer.ejs') %>
  </body>
</html>
