<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs') %>
  </head>

  <body class="container">
    <%- include('components/header.ejs') %>

    <h1>404 - Not Found</h1>

    <%- include('components/footer.ejs') %>
  </body>
</html>
