<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head.ejs') %>

    <title>Home page | Mini Message Board | The Odin Project</title>
  </head>
  <body class="container">
    <header>Mini Message Board</header>

    <main>
      <form aria-readonly="true" aria-disabled="true">
        <label>
          <h5>
            <span style="font-weight: 400">By</span>
            First name
          </h5>
          <input
            type="text"
            name="message"
            placeholder="Message"
            aria-label="Message"
            aria-describedby="message-date"
            readonly
          />
          <small id="message-date"><%= new Date().toLocaleString() %></small>
        </label>
      </form>
    </main>

    <%- include('components/footer.ejs') %>
  </body>
</html>
