<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page | Mini Message Board | The Odin Project</title>
  </head>
  <body>
    <h2>The date on the server side: <%= new Date().toDateString() %></h2>
  </body>
</html>
